body{
  background-color: black;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home {
  border: 2px white;
  padding: 10px;
  color: white; 
  font-size: 100%;
  font-family: "Brush Script MT", "Lucida Handwriting", sans-serif;
}
.games{
  border: 2px white;
  padding: 10px;
  color: white;
  font-size: 100%;
  font-family: "Brush Script MT", "Lucida Handwriting", sans-serif;
}
.proxies{
  border: 2px white;
  padding: 10px;
  color: white;
  font-size: 100%;
  font-family: "Brush Script MT", "Lucida Handwriting", sans-serif;
}
