body{
  background-color: black;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.navbar_home {
  color: white; 
  font-family: "Brush Script MT", "Lucida Handwriting", sans-serif;
  font-size: 2rem;
}
.navbar_item{
  border: 2px white;
  padding: 10px;
  color: white;
  height: 80px;
  font-family: "Brush Script MT", "Lucida Handwriting", sans-serif;
  justify-content: center;
  align-items: center;
}
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
