body{
  background-color: black;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home {
  color: white; 
}
.games{
  color: white;
}
.proxies{
  color: white;
}
